<!DOCTYPE HTML>
<html>
    <head>
        <title>New Tab</title>
        <script src="/assets/scripts/jquery-3.2.1.min.js"></script>
        <script src="/assets/scripts/main.js"></script>
        <script src="/assets/scripts/storage.js"></script>
        <script src="/assets/scripts/background.js"></script>
        <link rel="stylesheet" href="/assets/style/main.css">
    </head>
    <body>
        <div class="fade-cover"></div>
        
        <div class="greeting-wrapper">
            <div class="greeting-time-wrapper no-select">
                <div class="greeting-date"></div>
                <div class="greeting-time"></div>
            </div>
        </div>

        <div class="new-goal-wrapper">
            <form id="main-form">
                <div class="new-goal-close-button-wrapper no-select">
                    <img id="new-goal-close-button" class="goals-list-menu-button" src="/assets/images/close.png" alt="Close window" />
                </div>

                <h2 id="add-goal-h2">Add New Goal</h2>
                <h2 id="edit-goal-h2">Edit Goal</h2>
                
                <p class="goal-form-p">
                    <label>What's the name of your goal?</label>
                    <br><input class="new-goal-input" autocomplete="off" type="text" name="newgoal-title" /> 
                </p>
                <p class="goal-form-p">
                    <label>What is your target finish date?</label>
                    <br><input class="new-goal-input" autocomplete="off" placeholder="" type="date" name="newgoal-end" />
                </p>
                <p class="goal-form-p">
                    <label>When did you begin this goal? (optional)</label>
                    <br><input class="new-goal-input" autocomplete="off" type="date" name="newgoal-begin" />
                </p>
                <p class="goal-form-p">
                    <label>Any additional notes to show? (optional)</label>
                    <br><textarea type="text" class="new-goal-input"  autocomplete="off" placeholder="" name="newgoal-description"> </textarea>
                </p>
                
                <input type="hidden" name="newgoal-index" />

                <input id="new-goal-submit" class="goal-submit" value="Add Goal" type="submit">
                <input id="edit-goal-submit" class="goal-submit" value="Edit" type="submit">
                <input id="remove-goal-submit" class="goal-submit" value="Remove" type="submit">
            </form>
        </div>
        
        <div class="goals-list-wrapper no-select">
            <div class="goals-list-header">Goals</div>

            <div class="goals-list" id="goals-list">
            </div>

            <div class="goals-list-menu">
                <img id="new-goal-button" class="goals-list-menu-button no-select float-right" src="/assets/images/new.png" alt="New Goal" />
                <!-- <img class="goals-list-menu-button float-right no-select" src="/assets/images/gear.png" alt="New Goal" /> -->
            </div>
        </div>
    </body>
</html>