<!DOCTYPE HTML>
<html>
    <head>
        <title>Accomplish</title>
        <script src="/assets/scripts/jquery-3.2.1.min.js"></script>
        <script src="/assets/scripts/main.js"></script>
        <script src="/assets/scripts/storage.js"></script>
        <script src="/assets/scripts/background.js"></script>
        <link rel="stylesheet" href="/assets/style/main.css">
    </head>
    <body>
        <div class="greeting-wrapper">
            <div class="greeting-time-wrapper">
                <div class="greeting-date"></div>
                <div class="greeting-time"></div>
            </div>
        </div>
        <div class="new-goal-wrapper">
            <form id="main-form">
                <label>Title</label> <input type="text" name="newgoal-title" /> <br>
                <label>Begin</label> <input type="text" name="newgoal-begin" /> <br>
                <label>End</label> <input type="text" name="newgoal-end" /> <br>
                <label>Description</label> <textarea type="text" name="newgoal-description"> </textarea> <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>